*{margin: 0; padding: 0;}
html, body
{
	font-family: Arial;}
header
{
	width: 100%;
	height: 80px;
	background: #100E4D;
	position: fixed;
	opacity: 1;
	color: white;
}
header figure
{
	float: left;
	margin-left: 10%;
	width: 300px;
	padding: 1em;
	letter-spacing: 5px;
	font-size: 1.5em
}
header figure img{
	margin-top: -35px;
	width: 35%;
	height: 35%;
	/*background: #fff;*/
}
header menu
{
	width: 700px;
	float: right;
	margin-right: 10%;
	
}
header menu li
{
	display: block;
	float: right;
	padding: 2em;
}

menu li a
{
	color: white;
	text-decoration: none
}
menu li a:hover
{
	color: #F8D340;
	cursor: pointer;
	transition: 1.5s
}
nav
{
	padding-top: 100px;
	width: 100%;
	height: 650px;
	background: url(img32.jpg) center center no-repeat;
	background-size: cover;
	float: left;
	
}
section,.block,.block1,.block2,#rep,footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
section,.block1{
	flex-direction: column;
}
#rep,#Contacts{
	height: auto;	
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	padding-top: 20px;		
}
.block1,.block{
-ms-align-items: flex-start;
align-items: flex-start;

/*border: solid 2px black;*/
}
.block1{
padding: 20px;	
}
.block2{
	width: auto;
	height: auto;	
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	
}
#About1 {
padding-top: 20px;	
/*-ms-align-items: center;
align-items: center;
justify-content: center;
text-align: center;
border: solid 2px black;
background: red;*/
}

.about
{
	width: 100%;
	height: 650px;
	background: #FEF2C3;
	
}
.photo
{
	width: 100%;
	height: 100%;
	background: #E9D3D3;
	float: left;
	
}
.photo img
{
	width: 100%;
	height: 100%;
}
section h1
{
	text-align: center; 
	width: 100%;
	font-size: 2.5em;	
	text-transform: uppercase;
}
/
footer
{
	width: 100%;
	height: 500px;
	background: #313131;
	float: left;
	margin-top: 3*/9em
}
footer h1
{
	text-align: center; 
	width: 100%;
	font-size: 2.5em;
	padding-bottom: 1em;
	padding-top: 2em;
	text-transform: uppercase;
}*/